<!-- article-new-template.component.html -->

<form class="articleForm" [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre del Artículo</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
      <div *ngIf="articleForm.get('nombre')?.touched && articleForm.get('nombre')?.errors?.['required']" class="error-message">
        El nombre del artículo es obligatorio.
      </div>
    </div>
  
    <div class="form-group">
      <label for="precio">Precio del Artículo</label>
      <input type="number" class="form-control" id="precio" formControlName="precio">
      <div *ngIf="articleForm.get('precio')?.touched && articleForm.get('precio')?.errors?.['required']" class="error-message">
        Precio es obligatorio.
      </div>
      <div *ngIf="articleForm.get('precio')?.touched && articleForm.get('precio')?.errors?.['pattern']" class="error-message">
        Precio debe ser numérico.
      </div>
    </div>
  
    <div class="form-group">
      <label for="imageUrl">URL de la Imagen</label>
      <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl">
      <div *ngIf="articleForm.get('imageUrl')?.touched && articleForm.get('imageUrl')?.errors?.['required']" class="error-message">
        URL de la imagen es obligatoria.
      </div>
      <div *ngIf="articleForm.get('imageUrl')?.touched && articleForm.get('imageUrl')?.errors?.['pattern']" class="error-message">
        URL de la imagen no es válida.
      </div>
    </div>
  
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="enVenta" formControlName="enVenta">
      <label class="form-check-label" for="enVenta">¿Está en Venta?</label>
    </div>
  
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
  